  <footer>
    <div class="container">
      <section class="column mobile medium and large">
          <h2>About Us</h2>
          <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">Meet team</a></li>
              <li><a href="#">Learning Hub</a></li>
          </ul>
      </section>
      <section class="column mobile medium large">
          <h2>Contact Us</h2>
          <ul>
              <li>
                  <a href="mailto:blockchaincluboau@gmail.com">
                      blockchaincluboau@gmail.com</a>
              </li>
              <li>
                  <a href="#">FAQs</a>
              </li>
          </ul>
      </section>         
      <section class="column mobile medium1 large">
          <h2 class="logo111"><img class="jpegs" src="assets/img/Blockchain OAU logo111 1.png"></h2>
          <p>
              We are a group of young people passionate about
              driving crypto adoption in Africa. Africa has
              been known to backward in terms of western
              civilization but technology like Blockchain
              will be able to leapfrog and even
              overtake the developed world.
          </p>
        
      </section>
    </div>
      <div class="path">
      <div>
        <a href="https://www.instagram.com/blockchain_oau">
          <img src="assets/img/instagram.png" width="20px" height='20px'></a>
          <a href="https://www.twitter.com/blockchainoau">
          <img src="assets/img/twitter.png"  width="20px" height='20px'></a>
          <a href="https://www.linkedin.com/company/blockchain-oau">
          <img src="assets/img/linkedin.png" alt="linkedin logo"
          width="20px" height='20px'></a>
      </div>
      <span>&#169; Blockchain Club 2021</span>
      </div>
  </footer>
