  <header>
    <img class="blockchain_logo" src="assets/img/Blockchain OAU logo111 1.png" alt="Blockchain_oau logo">
    <button class="but" id="hamburger">&#9776;</button>
    <nav>
      <ul id="primaryNav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><button class="joinUs" type="submit"><a href="#">Join us</a></button></li>
      </ul>
      <img class="close" src="assets/img/close.png">   
    </nav>
    <button class="joinUs" type="submit"><a href="#">Join us</a></button>
  </header>