  <header>
    <img class="blockchain_logo" src="/assets/img/Blockchain OAU logo111 1.png" alt="Blockchain_oau logo">
    <button class="but" id="hamburger">&#9776;</button>
    <nav>
      <ul id="primaryNav">
        <li class={%if active=== "home"%} {{"active"}} {%endif%}><a href="/">Home</a></li>
        <li class={%if active=== "about"%} {{"active"}} {%endif%}><a href="/about">About Us</a></li>
        <li class={%if active=== "events"%} {{"active"}} {%endif%}><a href="/events">Events</a></li>
        <li class={%if active=== "blog"%} {{"active"}} {%endif%}><a href="/blog">Blog</a></li>
        <li class={%if active=== "contact-us"%} {{"active"}} {%endif%}><a href="/contact-us">Contact Us</a></li>
        <li><button class="joinUs" type="submit"><a href="#">Join us</a></button></li>
      </ul>
      <img class="close" src="/assets/img/close.png">   
    </nav>
    <button class="joinUs" type="submit"><a href="#">Join us</a></button>
  </header>