---
title: About Us
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/about.css"
script: "/js/about.js"
active: "about"
---

<section class="first">
       <div class="about-us">
           <h1>About Us</h1>
           <p>
               We are a group of young people passionate about driving crypto adoption in African.
               Africa has been known to be backward in terms of western
                civilization but with technologies like
               blockchain we will be able to leapfrog and even overtake the developed world.
           </p>
       </div>
       <div class="whyBC">
            <h1>Why Blockchain Club?</h1>
            <p>
                We teach the missing courses in the curriculum of our schools;
                blockchain and cryptocurrency. We encourage 
                our community members to learn about this disruptive technology, 
                adopt it and build innovative
                solutions for their immediate environment.
            </p>
       </div>
       <div class="mission">
            <h1>Our Mission</h1>
            <p>
                Become the go-to community for young minds to discover the Blockchain space,
                build and network with like minds.
            </p>
       </div>
   </section>
   <section class="second">
       <h1>Our Values</h1>
       <div class="value">
           <div>
               <img src="/assets/img/diagram.svg" alt="growth graph" >
               <p>Ensure Growth</p>
           </div>
           <div>
               <img src="/assets/img/handshake.svg" alt="hand shaking picture" >
               <p>Commitment</p>
           </div>
           <div>
               <img src="/assets/img/enthusiast.svg" alt="Excitment picture" >
               <p>Passion</p>
           </div>
       </div>
   </section>
   <section class="third-cont">
       <h1>Benefits</h1>
       <div class="benefit-img">
           <img src="/assets/img/Group.svg" alt="" srcset="">
           <img src="/assets/img/Group 2513.svg" alt="" srcset="">
       </div>
   </section>
   <section class="team">
       <h1>Meet the Team</h1>
       <div class="team-img">
           <div class="img-cont img-cont-1">
               <img src="/assets/img/about-us/michael.jpg" alt="image of team members">
               <h4>Micheal Jerry</h4>
               <p>Founder/Team Lead</p>
           </div>
           <div class="img-cont img-cont-2">
               <img src="/assets/img/about-us/nonse.jpg" alt="image of team members">
               <h4>Nonse Ifebhor</h4>
               <p>Cofounder/Lead Digital Hub</p>
           </div>
           <div class="img-cont img-cont-3">
               <img src="/assets/img/about-us/blessing.jpg" alt="image of team members">
               <h4>Blessing Emah</h4>
               <p>Cofounder/Lead Dev Hub</p>
           </div>
           <div class="img-cont img-cont-4">
               <img src="/assets/img/about-us/isreal.jpg" alt="image of team members">
               <h4>Isreal Rex</h4>
               <p>Graphic Designer</p>
           </div>
           <div class="img-cont img-cont-5">
               <img src="/assets/img/about-us/simon.jpg" alt="image of team members">
               <h4>Simon </h4>
               <p>Graphic Designer</p>
           </div>
           <div class="img-cont img-cont-6">
               <img src="/assets/img/about-us/afeez.jpg" alt="image of team members">
               <h4>Oladimeji Afeez</h4>
               <p>Content Creator</p>
           </div>
           <div class="img-cont img-cont-7">
               <img src="/assets/img/about-us/ayomikun.svg" alt="image of team members">
               <h4>Alagbada Ayomikun </h4>
               <p>Digital Marketer</p>
           </div>
            <button class=img-cont-8>
                <a href="#">This Could be you<p>Join Us</p></a>
            </button>
       </div>
   </section>