---
title: Article
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/article.css"
script: "/js/article.js"
active: "article"
---

<h1> Replace this with the content of the article page<h1>