---
title: Blog
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/blog.css"
active: "blog"
---

    <div class="heading">
        <h1>Blogs</h1>
        <p>Get the latest information on Blockchain development, Defi, and more.</p>
    </div>

    <aside>

        <div class="search-div">
            <form action="" class="search-bar">
                <input type="text" name="search" id="search" placeholder="search">
    
                <div class="search-btn">
                    <svg width="10" height="10" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.14502 6.28559C6.94843 6.09731 6.75711 5.90363 6.57125 5.70475C6.41511 5.54611 6.32109 5.4307 6.32109 5.4307L5.14586 4.86958C5.61637 4.33601 5.87604 3.64914 5.87618 2.93778C5.87618 1.31822 4.55824 0 2.93809 0C1.31794 0 0 1.31822 0 2.93778C0 4.55734 1.31794 5.87556 2.93809 5.87556C3.67807 5.87556 4.35257 5.59857 4.87009 5.14573L5.43127 6.32085C5.43127 6.32085 5.54669 6.41486 5.70535 6.57098C5.86779 6.72332 6.08143 6.92939 6.28625 7.14469L6.85624 7.72888L7.10976 8L8 7.10985L7.72886 6.85636C7.56978 6.70024 7.3574 6.49292 7.14502 6.28559ZM2.93809 5.0362C1.7809 5.0362 0.839454 4.09485 0.839454 2.93778C0.839454 1.78072 1.7809 0.839366 2.93809 0.839366C4.09528 0.839366 5.03673 1.78072 5.03673 2.93778C5.03673 4.09485 4.09528 5.0362 2.93809 5.0362Z" fill="black"/>
                    </svg>
                </div>
            </form>
        </div>

        <div id="categories">
            <h2>Categories</h2>
            <div>
                <a href="" class="category-link">Blockchain Development</a>
                <a href="" class="category-link">Digital Marketing</a>
                <a href="" class="category-link">Crypto Trading</a>
                <a href="" class="category-link">Content Creation</a>
                <a href="" class="category-link">Graphic Design</a>
                <a href="" class="category-link">Web Design</a>
            </div>
        </div>

        <div id="recent">
            <h2>Recent Post</h2>
            <div>
                <img src="/assets/img/Rect-1.png" alt="" class="small-img">
                <p>How Blockchain Hash Encryption Protects you</p>
            </div>
            <div>
                <img src="/assets/img/Rect-2.png" alt="" class="small-img">
                <p>Can Blockchain Technology Improve the Healthcare Industry?</p>
            </div>
        </div>

    </aside>

    <main>

        <div id="trending">

            <h2>TRENDING</h2>

            <div class="card" id="trend-post">

                <img src="/assets/img/trend.png" alt="chart and crypto currency" class="post-img">

                <div class="trend-desc">
                    <small>March 14, 2021</small>
                    <h4>The Future of Blockchain Technology</h4>
                    <p>Although blockchain technology is typically associated with cryptocurrency and bitcoin mining, it also brings advancements for the operational efficiency of SMBs and SMEs.</p>
                    <a href="">Continue to read </a>
                </div>

            </div>
        </div>

        <div id="recommend">
            <h2>RECOMMENDED</h2>

            <div class="container">

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-01.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Blockchain and Your Industry</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-02.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Principles of Designs</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-03.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Blockchain and Your Industry</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>
                
                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-04.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>The World of Technology</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>
            </div>
        </div>

    </main>