---
title: Blog
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/blog.css"
active: "blog"
---

    <div class="heading">
        <h1>Blogs</h1>
        <p>Get the latest information on Blockchain development, Defi, and more.</p>
    </div>

    <aside>

        <div class="search-div">
            <form action="" class="search-bar">
                <input type="text" name="search" id="search" placeholder="search">
    
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                    </svg>
                </a>
            </form>
        </div>

        <div id="categories">
            <h2>Categories</h2>
            <div>
                <a href="" class="category-link">Blockchain Development</a>
                <a href="" class="category-link">Digital Marketing</a>
                <a href="" class="category-link">Crypto Trading</a>
                <a href="" class="category-link">Content Creation</a>
                <a href="" class="category-link">Graphic Design</a>
                <a href="" class="category-link">Web Design</a>
            </div>
        </div>

        <div id="recent">
            <h2>Recent Post</h2>
            <div>
                <img src="/assets/img/Rect-1.png" alt="" class="small-img">
                <p>How Blockchain Hash Encryption Protects you</p>
            </div>
            <div>
                <img src="/assets/img/Rect-2.png" alt="" class="small-img">
                <p>Can Blockchain Technology Improve the Healthcare Industry?</p>
            </div>
        </div>

    </aside>

    <div id="main">

        <div id="trending">

            <h2>TRENDING</h2>

            <div class="card" id="trend-post">

                <img src="/assets/img/trend.png" alt="chart and crypto currency" class="post-img">

                <div class="trend-desc">
                    <small>March 14, 2021</small>
                    <h4>The Future of Blockchain Technology</h4>
                    <p>Although blockchain technology is typically associated with cryptocurrency and bitcoin mining, it also brings advancements for the operational efficiency of SMBs and SMEs.</p>
                    <a href="">Continue to read </a>
                </div>

            </div>
        </div>

        <div id="recommend">
            <h2>RECOMMENDED</h2>

            <div class="container">

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-01.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Blockchain and Your Industry</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-02.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Principles of Designs</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>

                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-03.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>Blockchain and Your Industry</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>
                
                <div class="grid">
                    <div class="card">
                        <img src="/assets/img/img-04.png" alt="" class="post-img">
                    </div>
                    <small>August 19, 2020</small>
                    <h4>The World of Technology</h4>
                    <p>Blockchain stands to change the way we do nearly everything. How will it affect your industry?</p>
                </div>
            </div>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/b1ae1ee215.js" crossorigin="anonymous"></script>