---
title: Past Event
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/past-event.css"
script: "/js/past-event.js"
active: "events"
---

<div class="top">
    <img class="banner" id="banner" src="../assets/img/past-events/past-event-banner.svg" alt="">
</div>

<div class="details">
    <div class="about">
        <h2 class="heading" id="about">About this event</h2>
        <p class="sub-details" id="about-writeup">The theme of this event is Blockchain Development masterclass. It is an event that will feature a practical coding session, breakdown of a contract, career path highlights, resources, and connections. </p>
    </div>
    <div class="date-and-venue">
        <h2 class="heading" id="date">Date & Venue</h2>
        <p class="sub-details" id="date"><i class="date"></i>Sat, May 24, 2021, 4pm</p>
        <p class="sub-details" id="venue"><i class="venue"></i>Language place, oau new market</p>
    </div>

    <div class="past-event-gallery">
        <h2 class="heading" id="date">Event gallery</h2>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="../assets/img/past-events/1.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/2.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/2.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/4.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/4.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item item9">
                <img src="../assets/img/past-events/5.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/6.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/past-events/6.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item item12">
                <img src="../assets/img/past-events/7.png" alt="" style="width:100%">
            </div>
            </div>
    </div>

    <div class="share-with-friends">
        <h2 class="heading2" id="share">Share with friends</h2>
        <div class="social-icons">
            <i class="twitter"></i>
            <i class="instagram"></i>
            <i class="whatsapp"></i>
            <i class="linkedin"></i>
        </div>
    </div>
</div>