---
title: Upcoming Event
layout: base.njk
permalink: "/{{page.fileSlug}}/"
style: "/css/upcoming-event.css"
script: "/js/upcoming-event.js"
active: "events"
---

<h1> Replace this with content of the upcoming event page<h1>