---
title: Past Event- Meet and Greet
layout: base.njk
style: "/css/past-event.css"
script: "/js/past-event.js"
active: "events"
tags: pastEvent
pic: "meet&greet/past-event-banner.svg"
tweet: "https://twitter.com/BlockchainOau/status/1390736626247155719?s=20"
time: "Sat, May 24, 2021, 4pm"
date: 2021-05-08
access: "Free"
venue: "Zoom"
name: "Meet and Greet"
---

<div class="top">
    <img class="bg-img" src="/assets/img/events/meet&greet/past-event-banner.svg" alt="">
    <img class="banner" id="banner" src="/assets/img/events/meet&greet/past-event-banner.svg" alt="">
</div>

<div class="details">
    <div class="about">
        <h2 class="heading" id="about">About this event</h2>
        <p class="sub-details" id="about-writeup">The theme of this event is Blockchain Development masterclass. It is an event that will feature a practical coding session, breakdown of a contract, career path highlights, resources, and connections. </p>
    </div>
    <div class="date-and-venue">
        <h2 class="heading" id="date">Date & Venue</h2>
        <p class="sub-details" id="date"><i class="date"></i>Sat, May 24, 2021, 4pm</p>
        <p class="sub-details" id="venue"><i class="venue"></i>Language place, OAU New market</p>
    </div>

    <div class="past-event-gallery">
        <h2 class="heading" id="date">Event gallery</h2>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/1.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/2.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/2.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/3.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/4.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/4.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item item9">
                <img src="/assets/img/events/meet&greet/5.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/6.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item">
                <img src="/assets/img/events/meet&greet/6.png" alt="" style="width:100%">
            </div>
            <div class="gallery-item item12">
                <img src="/assets/img/events/meet&greet/7.png" alt="" style="width:100%">
            </div>
            </div>
    </div>

    <div class="share-with-friends">
        <h2 class="heading2" id="share">Share with friends</h2>
        <i class="fa fa-share-alt share-btn" data-title="{{event.data.name}} by Blockchain OAU" aria-hidden="true"></i>
    </div>
</div>