---
title: Blockchain Website
layout: base.njk
active: home
style: "/css/index.css"
script: "/js/index.js"
---
<section class="blockchain-club">
    <div class="blc-text">
        <h1>Blockchain Club</h1>
        <p>We culture young minds to learn about <br> blockchain technology and build innoviative <br> products</p>
        <div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSel2rH3BVuEOntmT3uwrKdNbRQ4ISzTD8Z5jbk7-d7Rck-qhg/viewform?usp=sf_link">
                <button class="btn joinUs" type="submit">Join us</button>
            </a>
            {# <button class="btn ContactUs" type="submit"><a href="#">Contact us</a></button> #}
        </div>
    </div>
    <div class="blc-img">
        <img alt="bockchain illustration." src="assets/img/blockchain illustration.svg">
    </div>
</section>
<section class="learning-hub">
    <h1>Learning Hub</h1>
    <div class="lgh-1">
        <div class="lgh-1-img">
            <img src="assets/img/Group 2453.svg">
        </div>
        <div class="lgh-1-text">
            <h2>Crypto Trading</h2>
            <p>
                We teach you how to trade and provide free signal to help you earn as you learn. From fundamental 
                analysis to technical analysis we will school you on everything you need to know to become a profitable trader.
                All these and more come with a fee of $50.
            </p>
            <div><button class="btn joinUs" type="submit"><a href="https://docs.google.com/forms/d/e/1FAIpQLSel2rH3BVuEOntmT3uwrKdNbRQ4ISzTD8Z5jbk7-d7Rck-qhg/viewform?usp=sf_link">Join us</a></button></div>
        </div>
    </div>    
    <div class="lgh-2">
        <div class="lgh-2-text">
            <h2>Blockchain Development</h2>
            <p>
                Developers earn a lot of money and Blockchain Developers earn even more. We've got seasoned blockchain engineers in our community who will guide you on your blockchain development journey
            </p>
            <button class="btn joinUs" type="submit"><a href="https://docs.google.com/forms/d/e/1FAIpQLSel2rH3BVuEOntmT3uwrKdNbRQ4ISzTD8Z5jbk7-d7Rck-qhg/viewform?usp=sf_link">Join us</a></button>
        </div>
        <div class="lgh-2-img">
            <img src="assets/img/Group 2459.svg">
        </div>
    </div>
    <div class="lgh-3">
        <div class="lgh-3-img">
            <img src="assets/img/Group 2460.svg">
        </div>
        <div class="lgh-3-text">
            <h2>Digital Skills</h2>
            <p>
                Equip yourself with a digital skill and earn above what is paid in traditional companies by working in a crypto
                company. Crypto organisations are in need of digital marketers, graphic designers, brand designers, motion designers, 
                social media strategists, copywriters and a host of others
            </p>
            <button class="btn joinUs" type="submit"><a href="https://docs.google.com/forms/d/e/1FAIpQLSel2rH3BVuEOntmT3uwrKdNbRQ4ISzTD8Z5jbk7-d7Rck-qhg/viewform?usp=sf_link">Join us</a></button>
        </div>
    </div>     
</section>
{# <section class="Subscribe">
    <div class="sub-cont">
        <div class="sub-text">
            <div>
                <h1>Subscribe to our weekly newsletter</h1>
                <p>
                    Get updates on our upcoming community events sent straight to your inbox
                </p>
            </div>
            <div class="sub-img">
                <img src="assets/img/Group 500.svg">
            </div>
        </div>
        <form>
            <input type="text" placeholder="Email Address">
            <input type="submit" value="SUBSCRIBE">
        </form>
    </div>
</section> #}